SERVER_PORT=8082
SPRING_PROFILES_ACTIVE=mysql

DB_URL=jdbc:mysql://mysql:3306/queueless_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DB_USERNAME=Arish07
DB_PASSWORD=arish522r30##
JPA_DDL_AUTO=update
JPA_SHOW_SQL=false

JWT_SECRET=ReplaceThisWithAtLeast32CharactersForQueueLessApp
JWT_EXPIRATION_MINUTES=180

BOOTSTRAP_ADMIN_EMAIL=admin@queueless.local
BOOTSTRAP_ADMIN_PASSWORD=Admin@12345
BOOTSTRAP_ADMIN_NAME=System Admin
BOOTSTRAP_ADMIN_PHONE=9999999999

REDIS_ENABLED=false
REDIS_HOST=redis
REDIS_PORT=6379

KAFKA_ENABLED=false
KAFKA_BOOTSTRAP_SERVERS=kafka:9092

AI_ENABLED=false

NOTIFICATIONS_REALTIME_ENABLED=true
NOTIFICATIONS_EMAIL_ENABLED=false
NOTIFICATIONS_EMAIL_FROM=no-reply@queueless.local
NOTIFICATIONS_EMAIL_SUBJECT_PREFIX=[QueueLess]
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_PROTOCOL=smtp
MAIL_SMTP_AUTH=true
MAIL_SMTP_STARTTLS_ENABLE=true
MAIL_SMTP_STARTTLS_REQUIRED=true
MAIL_SMTP_SSL_ENABLE=false
MAIL_SMTP_SSL_TRUST=*
MAIL_SMTP_SSL_PROTOCOLS=TLSv1.2
MAIL_SMTP_CONNECTION_TIMEOUT=5000
MAIL_SMTP_TIMEOUT=5000
MAIL_SMTP_WRITE_TIMEOUT=5000
